@font-face {
    font-family: 'outfit';
    src: url(CSS/Outfit-VariableFont_wght.ttf);
}


:root{
    
   --White: hsl(0, 0%, 100%);
   --Light-gray: hsl(212, 45%, 89%);
   --Grayish-blue: hsl(220, 15%, 55%);
   --Dark-blue: hsl(218, 44%, 22%);
}

*{
    padding: 0;
    margin: 0;
    font-family: outfit;

}
.main-container{
    background: var(--Light-gray);
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}



.main-container .container{
    background: var(--White);
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 17px;
    gap: 15px;
}
.main-container .container .text-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5px;
    gap: 15px;

}


h3{
    text-align: center;
    font-weight: bolder;
}
p{
    text-align: center;
    font-weight: 100;
    color: var(--Grayish-blue);
}
img{
    width: 100%;
    border-radius: 17px;
}
@media (max-width: 1283){
    .main-container .container{
        width: 21%;
    }
}
@media (max-width: 1222px){
    .main-container .container{
        width: 22%;
    }
}
@media (max-width: 1166px){
    .main-container .container{
        width: 23%;
    }
}

@media (max-width: 1116px){
    .main-container .container{
        width: 25%;
    }
}
@media (max-width: 1026px){
    .main-container .container{
        width: 27%;
    }
}
@media (max-width: 950px){
    .main-container .container{
        width: 29%;
    }
}
@media (max-width: 885px){
    .main-container .container{
        width: 31%;
    }
}
@media (max-width: 828px){
    .main-container .container{
        width: 33%;
    }
}
@media (max-width: 777px){
    .main-container .container{
        width: 35%;
    }
}
@media (max-width: 7px){
    .main-container .container{
        width: 35%;
    }
}
 